.actor-card {
  display: flex;
  gap: 20px;
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100%;
}

.actor-image img {
  width: 180px;
  height: 100%;
  object-fit: cover;
}

.actor-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.actor-name {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.actor-desc {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.5;
  margin-bottom: 15px;
}

.actor-btn {
  width: fit-content;
}

@media (max-width: 992px) {
  .actors-card {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .actor-card {
    width: 70%;
    flex-direction: column;
  }

  .actor-image img {
    width: 100%;
    height: 300px;
  }
}

