.social-circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #2b3036;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none; 
}

footer  a .fa-brands {
  font-size: 18px;
}

footer a,
.social-circle {
  text-decoration: none !important;
  border-bottom: none !important;
}

footer a:hover,
footer a:focus,
.social-circle:hover,
.social-circle:focus {
  text-decoration: none !important;
  outline: none;
}

.social-circle:hover {
  background: #0d6efd;
  color: #fff;
  transform: translateY(-3px);
}

footer a {
  transition: 0.2s;
}


footer h6 {
  letter-spacing: 0.5px;
}


footer .border-secondary {
  opacity: 0.25;
}

.actors-wrapper {
  width: 70%;
  margin: 0 auto; /* توسيط */
}

