*{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.movie-header {
  background: #353535;
  padding: 16px 0;
}

.back-link {
  color: #0d6efd;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.back-link:hover {
  text-decoration: underline;
}

.separator {
  color: #6c757d;
  font-weight: 500;
}

.movie-title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 500;
}

@media (max-width: 576px) {
  .movie-title {
    font-size: 1rem;
  }
}
