* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.details-hero {
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  position: relative;
}

.details-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}


.glass-box {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}


.text-white-50 {
  color: rgba(255, 255, 255, 0.75) !important;
}

@media (max-width: 768px) {
  .actors-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
