.navbar-custom {
  background-color: #1f1f1f;
  padding: 18px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.navbar-logo {
  width: 150px;
  height: auto;
}

.navbar-search  {
  display: flex;
  align-items: center;
  background: #2b2b2b;
  border-radius: 25px;
  padding: 6px 12px;
  flex: 1;
  max-width: 350px;
}

.navbar-search input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  flex: 1;
  font-size: 0.95rem;
}

.navbar-search input::placeholder {
  color: #aaa;
}

.navbar-search button {
  background: transparent;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.navbar-search button:hover {
  color: #0d6efd;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.05rem;
  position: relative;
  padding-bottom: 6px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #0d6efd;
}

.nav-link.active {
  color: #0d6efd;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #0d6efd;
}

@media (max-width: 768px) {
  .navbar-search {
    display: none;

  }
}
@media(max-width: 900px) {
  .navbar-search {
    max-width: 300px !important; 
  }
}